<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus officia earum soluta quaerat. Nam labore consequatur, odit deleniti iusto earum officiis corrupti, quam amet exercitationem illum! Consequatur molestiae cumque magni.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus officia earum soluta quaerat. Nam labore consequatur, odit deleniti iusto earum officiis corrupti, quam amet exercitationem illum! Consequatur molestiae cumque magni.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus officia earum soluta quaerat. Nam labore consequatur, odit deleniti iusto earum officiis corrupti, quam amet exercitationem illum! Consequatur molestiae cumque magni.</p>
        </ul>
    </div>
</div>