.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 0.5px;
}
#logoAP{
    width: 200px;
}
img{
    width: 60px;
    margin-right: 7px;
}

.btn{
    border-width: medium;
    margin-right: 3px;
}

@media(max-width:575px){
.container{
    flex-direction: column;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes img{
    margin: 0.5em;
}
}