<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" alt="" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        <p id="nombre">Nicolas Tobias Artaza Sarria</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
        <span>
            <h1>acerca de mí</h1>
            <p>Soy Nicolas Artaza, estudiante de ingenieria en sistemas, empece a en el mundo de la programacion hace poco y mi objetivo a futuro es ser programador de videojuegos aunque de momento estoy estudiando desarrollo web</p>
        </span>
    </div>
</div>